In [1]:
a=10

In [2]:
type(a)

int

In [4]:
"c"

'c'

In [6]:
# Covert a float decimal type number to int, it's called type casting: Converting one type of data to another
int(3.4)

3

In [10]:
#print statement:

print(a)

10

In [8]:
print("Hello World!")

Hello World!

In [9]:
print(123)

123

In [14]:
age =32

print("My age is :" ,age)

My age is : 32

In [20]:
# We have to use f string, f at the starting after print statement to get the variable vaule:
print('My age is {age}')

#f string has to be used
print(f'My age is : {age}')

My age is {age}
My age is : 32

In [27]:
## format:

name= 'Faijan'
age = 26
print("My name is {} and my age is {}.format(name, age)")
#taking everything as string therfore displaying format syntax as string value, 
# for this, we have to use format outside the "" but inside ()
print("My name is {} and my age is {}".format(name, age))

My name is {} and my age is {}.format(name, age)
My name is Faijan and my age is 26

In [29]:
# we have to provide the variables in proper sequence when we use format syntax:
print("My name is {} and my age is {}".format(age, name))

My name is 26 and my age is Faijan

In [32]:
# Placeholder:
# With placeholders,we can write the variables value irrespective of their order in the format bracket:
print("My name is {firstname} and my age is {firstage}".format(firstage = age, firstname = name))

My name is Faijan and my age is 26

In [36]:
name = "MD FAIJAN RAJA"
age = 26
degree = "M.tech"

# Use the variables and write a code for the below output:
#  My age is 32 and I have completed my M.tech degree with the name MD FAIJAN RAJA

print(f"My age is {age} and I have completed my {degree} degree with the name {name}")
print("My age is {} and I have completed my {} degree with the name {}". format(age, degree, name))
print("My age is {firstage} and I have completed my {firstdegree} degree with the name {firstname}".format(firstname= name, firstage= age, firstdegree= degree))

My age is 26 and I have completed my M.tech degree with the name MD FAIJAN RAJA
My age is 26 and I have completed my M.tech degree with the name MD FAIJAN RAJA
My age is 26 and I have completed my M.tech degree with the name MD FAIJAN RAJA

# Control Flow:

## Decison making statements:

1. IF
2. IF ELSE
3. IF EIF ELSE 
4. NESTED IF
5. Single Statement Suites

# IF statement:

In [38]:
# Conditions

# >=, <=, ==

In [56]:
age = int(input("Please enter your age"))
if age>=18:
    print("Eligible to vote")
else:
    print("Not eligible to vote")

Please enter your age 45

Eligible to vote

In [66]:
# Task 1

# Take a input of the age
# Check whether the age>=18 and age<=45
# Display a message you are young blood for in between, kid for lower than 18 and senior citizen for >45

In [65]:
age = int(input("Please enter your age"))

if age<18:
    print("You are a kid")
elif (age>=18) & (age<=45):
    print("You are young blood")
elif age>45: 
    print("You are senior citizen")

Please enter your age 46

You are senior citizen

In [67]:
# Task 2:

# You are in a mall, you will get 30% discount if the price of the product is >1000
# and 20% discount if it is less than or equal to 1000
# Please get the input from the user to get the price of the product and then predict the final price

In [73]:
cost = int(input("Please enter the price of the product"))

if cost<=1000:
    d_price = 0.8 * cost
    print(f"The discounted price is {int(d_price)}")
elif cost>1000:
    d_price = 0.7 * cost
    print(f"The discounted price is {int(d_price)}")

Please enter the price of the product 5000

The discounted price is 3500

In [1]:
# Comparision operator:

True == True

True

# SINGLE STATEMENT SUITES:

In [6]:
val = int(input("Enter a integer number"))
if(val>=999):print("The value is greater than or equal to 999")
else:print("The value is less than 999")

Enter a integer number 998

The value is less than 999